@section scripts{}


<style>
    html{
        height:100%;
    }
    body {
        padding-top: 50px;
        padding-bottom: 50px;
        height: 100%;
    }
    .body-content{
        margin: auto;
    }

    @@media only screen and (max-width: 767px) {
        body {
            height: unset;
        }
    }

        @@media only screen and (max-height: 600px) {
            body {
                height: unset;
            }
        }

</style>

<div id="homecontainer">
        <div class="menuimage" id="programming">
            <img class="img-responsive" src="/Uploads/Images/ace_of_diamonds_by_sirbronson-dbkyfu1.png" />
            <div class="overlay">
                <p class="captiontext">Programming</p>
            </div>
        </div>
        <div class="menuimage" onclick="ArtLink()">
            <img class="img-responsive" src="~/Uploads/Images/DMQvOw_W0AE0NUS.jpg" />
            <div class="overlay">
                <p class="captiontext">Art</p>
            </div>
        </div>
</div>