@section scripts{}

@{
    ViewBag.Title = "Home Page";
}

<script type="text\javascript">
    $(document).ready(function () {
        $("#menuimage").mouseover(function () {
            $("#menuimage").css("opacity", "0.2");
        });
        $("#menuimage").mouseout(function () {
            $("#menuimage").css("opacity", "1");
        });
    });
</script>


<div class="container">
    <div class="row">
        <div class="col-sm-6 menuimage">
            <img width="100%" src="~/Uploads/Images/ace_of_diamonds_by_sirbronson-dbkyfu1.png" />
            <div class="overlay">
                <p class="captiontext">Programming</p>
            </div>
        </div>
        <div class="col-sm-6 menuimage">
            <img width="100%" src="~/Uploads/Images/DMQvOw_W0AE0NUS.jpg" />
            <div class="overlay">
                <p class="captiontext">Art</p>
            </div>
        </div>
    </div>
</div>