
@{
    ViewBag.Title = "Programming";
}

<style>
    h2{
        margin:0px;
    }
    .prog-image{
        padding:10px;
    }
    .prog-image>img {
        max-width:100%;
    }
    .prog-desc {
        display: flex;
        padding:10px;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }
    .prog-desc >span{
        width:80%;
        text-align:justify;
    }
    .prog-date {
        margin-top: 0.5rem;
        font-size: 22px;
    }
    .prog-filler{
        flex-grow:1;
    }
    .resume-block-content {
        justify-content: center;
        padding: 0px;
    }
</style>

<h1>PROGRAMMING</h1>
<hr />

<table>
    <tr></tr>
</table>

<div class="row resume-block-content">
    <div class="prog-image">
        <img src="http://via.placeholder.com/280x280" />
    </div>
    <div class="prog-desc">
        <h2 class="resume-block-title">Portfolio Site</h2>
        <h3 class="prog-date resume-date">2018 - ...</h3>
        <span>
            My current portfolio site I've built to host and showcase my professional and personal work is in and of itself an example of my programming skills.
            Using my acquired skills with HTML, MVC, .NET and Javascript I've designed this site to utilize a wide variety of tools available in .NET in order to simplify
            the process of updating the gallery of my ever expanding works without the use of 3rd party services.
        </span>
        <div class="prog-filler"></div>
        <button class="btn btn-default" onclick="WebsiteLink();">Read More...</button>
        <div class="prog-filler"></div>
    </div>
</div>

<div class="row resume-block-content">
    <div class="prog-image">
        <img src="http://via.placeholder.com/280x280" />
    </div>
    <div class="prog-desc">
        <h2 class="resume-block-title">Popcorn Clicker</h2>
        <h3 class="prog-date resume-date">2016</h3>
        <span>
            A simple incremental game created as an exercise in HTML and Javascript as well as features such as real time updating and saving progress via cookies. 
        </span>
        <div class="prog-filler"></div>
        <button class="btn btn-default">Play Now</button>
        <div class="prog-filler"></div>
    </div>
</div>
