<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5fefb652-5d90-48cc-86fb-ade482b714a6/resourceGroups/Stipendium/providers/Microsoft.Web/sites/RobertDubrovskisArt</ResourceId>
    <ResourceGroup>Stipendium</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://robertdubrovskisart.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>robertdubrovskisart.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RobertDubrovskisArt</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RobertDubrovskisArt</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:stipendiumsql.database.windows.net,1433;Initial Catalog=RDubrovskis;User ID=StipendiumAdmin@stipendiumsql.database.windows.net;Password=St1pend1um100" Name="Data Source=tcp:stipendiumsql.database.windows.net,1433;Initial Catalog=RDubrovskis;User Id=StipendiumAdmin@stipendiumsql.database.windows.net;Password=St1pend1um100;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebSite.Models.ApplicationDbContext, WebSite" MigrationConfiguration="WebSite.Migrations.Configuration, WebSite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stipendiumsql.database.windows.net,1433;Initial Catalog=RDubrovskis;User Id=StipendiumAdmin@stipendiumsql.database.windows.net;Password=St1pend1um100;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>